A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [1]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

In [2]:
print(s1)

{1, 2, 3}

In [3]:
print(s2)

{4, 5, 6}

In [4]:
s1.add(4)

In [5]:
print(s1)

{1, 2, 3, 4}

In [6]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [7]:
s1.intersection(s2)

{4}

In [8]:
s1.symmetric_difference(s2) #Returns a set which is the symmetric difference between the two sets

{1, 2, 3, 5, 6}

In [9]:
s1.symmetric_difference_update(s2) #Updates the existing caller set with the symmetric difference of sets

In [10]:
print(s1)

{1, 2, 3, 5, 6}

In [11]:
print(s2)

{4, 5, 6}

In [12]:
s1.pop() #Returns and removes a random element from the set

1

In [13]:
s1.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [14]:
s1.remove(6)

In [15]:
print(s1)

{2, 3, 5}

In [16]:
s1.remove()

TypeError: set.remove() takes exactly one argument (0 given)

In [17]:
s1.remove(7)

KeyError: 7

In [18]:
print(s1)

{2, 3, 5}

In [19]:
print(s2)

{4, 5, 6}

In [20]:
s1.difference(s2) #Returns a set that is the difference between two sets

{2, 3}

In [21]:
s1.difference_update(s2) #Updates the existing caller set with the difference between two sets

In [22]:
print(s1)

{2, 3}

In [23]:
print(s2)

{4, 5, 6}

In [26]:
s1.update((7,))

In [27]:
print(s1)

{2, 3, 7}

In [28]:
s1.update(s2) #Adds elements to the set

In [29]:
print(s1)

{2, 3, 4, 5, 7, 6}

In [30]:
print(s2)

{4, 5, 6}

In [31]:
s1.issubset(s2)

False

In [32]:
s2.issubset(s1)

True

In [33]:
s1.issuperset(s2)

True

In [34]:
s2.issuperset(s1)

False

In [35]:
s1.isdisjoint(s2)

False

Two sets are said to be disjoint when their intersection is null.

In [36]:
s1 = {1, 2}
s2 = {3, 4}

In [37]:
print(s1)

{1, 2}

In [38]:
print(s2)

{3, 4}

In [39]:
s1.isdisjoint(s2)

True

In [40]:
s1.clear() #Removes all elements from the set

In [41]:
print(s1)

set()

In [42]:
s2.discard(3)

In [43]:
print(s2)

{4}

In [44]:
s2.discard(4)