__Tuple:__ A tuple represents a sequence of any objects separated by commas and enclosed in parentheses. A tuple is an immutable object, which means it cannot be changed, and we use it to represent fixed collections of items.

In [1]:
t = (1, 2, 1, 'hello')

In [2]:
print(t)

(1, 2, 1, 'hello')

In [3]:
len(t)

4

In [5]:
t.count(1) #number of times the given element appears in the tuple

2

In [7]:
t.index('hello') # returns the first occurrence of the given element from the tuple.

3

In [8]:
t = (1, 2, 1, 2, 3)

In [9]:
t.index(1)

0

In [11]:
# tuple.index(element, start, end)
t.index(1, 1)

2

In [13]:
t.index(5) #This method raises a ValueError if the element is not found in the tuple.

ValueError: tuple.index(x): x not in tuple

In [16]:
t = (1, 2.5, 'hello', True, [1,2])

In [17]:
sorted(t)

TypeError: '<' not supported between instances of 'str' and 'float'

In [18]:
t = (1, 2, 1, 3, 2, 5)

In [19]:
sorted(t)

[1, 1, 2, 2, 3, 5]

In [20]:
min(t)

1

In [21]:
max(t)

5

In [22]:
sum(t)

14

In [23]:
t = (1, 2.5, 'hello', True, [1,2])

In [24]:
t[4][1] = 5

In [25]:
print(t)

(1, 2.5, 'hello', True, [1, 5])

In [26]:
t[2] = 3

TypeError: 'tuple' object does not support item assignment

In [27]:
print(t)

(1, 2.5, 'hello', True, [1, 5])

In [28]:
l = [1, 2.5, 'hello', True, [1, 5]]

In [29]:
print(l)

[1, 2.5, 'hello', True, [1, 5]]

In [31]:
import sys
print("List : ", l)
print("Tuple: ", t)
print("List size is ", sys.getsizeof(l), "bytes")
print("Tuple size is ", sys.getsizeof(t), "bytes")

List :  [1, 2.5, 'hello', True, [1, 5]]
Tuple:  (1, 2.5, 'hello', True, [1, 5])
List size is  96 bytes
Tuple size is  80 bytes